* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif; /* helvetica dünyaca kabul görmüş bir font kendi sitendede kullabişlirisn*/
  line-height: 1.6;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0a0a0a;
  color: white;
  padding: 1em;
}

.logo {
  max-width: 100px; /* Adjust the maximum width of the logo */
  height: auto; /* Maintain the aspect ratio of the logo */
  border-radius: 20%;
}
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

section {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  padding-right: 200px;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.container {
  width: 90%;
  height: 150px;
  margin: 10px;
  padding: 20px;
  background-color: rgba(0, 0, 255, 0.1);
  border: 2px solid #333;
  border-radius: 10px;
}
.contact-container span {
  color: blue !important;
}
.container span {
  color: red;
}

.about-container {
  background-color: lightgreen;
}

#datatable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
#datatable th,
#datatable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#datatable th {
  background-color: lightblue;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

/*www.firatbitmez.com/css   Tasarım Button*/
.contact-form button {
  touch-action: manipulation;
  display: inline-block;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: 0.3em;
  height: 2.75em;
  line-height: 2.5em;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  background-image: linear-gradient(
    160deg,
    #a54e07,
    #b47e11,
    #fef1a2,
    #bc881b,
    #a54e07
  );
  border: 1px solid #a55d07;
  color: rgb(120, 50, 5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-size: 100% 100%;
  background-position: center;
}
.contact-form button:focus,
.contact-form button:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  border: 1px solid rgba(165, 93, 7, 0.6);
  color: rgba(120, 50, 5, 0.8);
}
.contact-form button:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
}
