@{
    var imgPath = "/img/logo.png"; // Image path relative to wwwroot
}


<!--_Layout.cshtml-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - ShopCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopCoreProject.styles.css" asp-append-version="true" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


 
</head>
<body class="bg-light">

     <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2f323a;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="@imgPath" alt="Logo" class="img-fluid mr-2" style="max-height: 30px;" />
                <span>ShopCore</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/"><i class="fas fa-home"></i> Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Order"><i class="fas fa-shopping-bag"></i> Siparişlerim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Account"><i class="fas fa-user"></i> Hesabım</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Cart"><i class="fas fa-shopping-cart"></i> Sepetim</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  
   <div class="container-fluid" style="margin-bottom: 0;">
    <div class="row">
      <div class="col-md-12">
        <nav id="firstNavbar" class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Kategoriler</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Elektronik</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Moda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ev, Yaşam, Kırtasiye, Ofis</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Oto, Bahçe, Yapı Market</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Anne, Bebek, Oyuncak</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Spor, Outdoor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Kozmetik, Kişisel Bakım</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Süpermarket, Pet Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Kitap, Müzik, Film, Hobi</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>


    <!-- Ana İçerik -->
    <div class="container-fluid">
        <div class="row">
            <main class="col-md-12 px-md-55">
                @RenderBody()
            </main>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center py-2" style="background-color: #2f323a; color: #fff;">
        &copy; 2023 ShopCore
    </footer>

   <!-- Bootstrap JS ve Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-eVSTQN6BdZRR8Lq8hEE0qZQ1NhD5YuEvABfI+RN53sW9V4uL4lC4pC6J5/JpCb5" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</body>
</html>
