@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to the Home Page</h2>

@if (User.Identity.IsAuthenticated)
{
    <p>Hello,@User.Identity.Name!</p>
    <form asp-action="Logout" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
}
else
{
    <p>You are not logged in.</p>
}
