
<!-- Order View Index.cshtml-->
@foreach (var order in Model)
{
    <p>Sipariş Tarihi: @order.OrderDate</p>

    <h3>Sipariş Kalemleri</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ürün Adı</th>
                <th scope="col">Fiyat</th>
                <th scope="col">Adet</th>
                <th scope="col">Toplam</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in order.OrderItems)
            {
                <tr>
                    <td>@item.Product?.Name</td>
                    <td>$@item.Product?.Price</td>
                    <td>@item.Quantity</td>
                    <td>$@(item.Product?.Price * item.Quantity ?? 0)</td>
                </tr>
            }
        </tbody>
    </table>
}
