<!-- Views/Account/ChangePassword.cshtml -->
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Şifre Değiştir";
}
<style>
    .card{
        background-color: transparent !important;
        border: 0 !important;
    }
     .go-back-btn {
        position: absolute;
 margin-left:40px;
       
    }
</style>
  <section class="h-10">
        <div class="container ">
            <div class="row justify-content-sm-center h-10">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <div class="text-center my-5">
                    </div>
                                       
                    <div class="card">
                         <a href="@Url.Action("Index", "Account")" class="btn btn-secondary go-back-btn"> < Hesabıma Geri Dön</a>

                        <div class="card-body p-5">
                            <h1 class="fs-4 card-title fw-bold mb-4">Şifre Değiştir</h1>
                            <form asp-action="ChangePassword" method="post" class="needs-validation" novalidate="" autocomplete="off">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="mb-3">
                                    <label for="OldPassword" class="form-label">Old Password</label>
                                    <input asp-for="OldPassword" type="password" class="form-control" required>
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label for="NewPassword" class="form-label">New Password</label>
                                    <input asp-for="NewPassword" type="password" class="form-control" required>
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label for="ConfirmNewPassword" class="form-label">Confirm New Password</label>
                                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" required>
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                </div>

                                <button type="submit" class="btn btn-primary">Değiştir</button>
                            </form>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </section>