

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Center Shop - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopAppProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
    <header>       

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
            <div class="container-fluid mr-8">
                <!-- Left content: Logo and "Center Shop" text -->
                <a class="navbar-brand"asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" alt="Logo" class="img-fluid mr-2" style="max-height: 30px;" />
                    <span>Center Shop</span>
                </a>

                <!-- Toggler button for small screens -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <!-- Right content: Navigation links -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <div class="ml-auto search-bar">
                    <form class="form-inline" style="width: 150%;" >
                        <input class="form-control mr-sm-2" type="search" placeholder="Ürün, kategori veya marka ara" aria-label="Search">
                    </form>
                </div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-center" asp-area="" asp-controller="Home" asp-action="Index">
                                <br /><i class="fas fa-home fa-2x mr-2"></i> Ana Sayfa
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" asp-area="" asp-controller="Order" asp-action="Index">
                                <br /><i class="fas fa-shopping-bag fa-2x mr-2"></i> Siparişlerim
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" asp-area="" asp-controller="Account" asp-action="Index">
                                <br /><i class="fas fa-user fa-2x mr-2"></i> Hesabım
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" asp-area="" asp-controller="Cart" asp-action="Index">
                                <br /><i class="fas fa-shopping-cart fa-2x mr-2"></i> Sepetim
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-center" asp-area="" asp-controller="Customer" asp-action="Index">
                                <br /><i class="fas fa-user fa-2x mr-2"></i> Müşteri Listesi
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </nav>


        
  
   <div class="container-fluid" style="margin-bottom: 0;">
    <div class="row">
      <div class="col-md-12">
        <nav id="firstNavbar" class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" asp-area="" asp-controller="product" asp-action="Index">Kategoriler</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="product" asp-action="Index">Elektronik</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="product" asp-action="Index">Moda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="product" asp-action="Index">Ev, Yaşam, Kırtasiye, Ofis</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="product" asp-action="Index">Oto, Bahçe, Yapı Market</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="product" asp-action="Index">Anne, Bebek, Oyuncak</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="product" asp-action="Index">Spor, Outdoor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="product" asp-action="Index">Kozmetik, Kişisel Bakım</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="product" asp-action="Index">Süpermarket, Pet Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="product" asp-action="Index">Kitap, Müzik, Film, Hobi</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>

    </header>
    <!-- Ana İçerik -->
    <div class="container-fluid">
        <div class="row">
            <main class="col-md-12 px-md-55">
                @RenderBody()
                
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 Center Shop- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
