html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* Navbar Renkleri */
.navbar-custom {
  background-color: #3498db;
  /* Mavi renk */
  color: #fff;
  /* Beyaz renk */
}

.navbar-custom .navbar-brand {
  color: #fff !important;
}

.navbar-custom .navbar-nav .nav-link {
  color: #fff !important;
}

.navbar-custom .navbar-toggler-icon {
  background-color: #fff;
}

/* Kart Renkleri */
.card-custom {
  background-color: #f8f9fa;
  /* Gri renk */
  border: 1px solid #dee2e6;
  border-radius: 8px;
}

.card-custom .card-title {
  color: #007bff;
  /* Mavi renk */
}

.card-custom .card-text {
  color: #6c757d;
  /* Gri renk */
}

.card-custom .btn-primary {
  background-color: #007bff;
  /* Mavi renk */
  border-color: #007bff;
}

.card-custom .btn-primary:hover {
  background-color: #0056b3;
  /* Koyu mavi renk */
  border-color: #0056b3;
}

.discounted-products img {
  max-width: 100%;
  height: auto;
}

#firstNavbar .navbar-nav .nav-item {
  background-color: #f5f5f5;
  /* Set the default background color */
}

#firstNavbar .navbar-nav .nav-item:hover {
  background-color: #ffffff;
  /* Change the background color on hover */
}

#firstNavbar .navbar-nav .nav-item .nav-link {
  color: #000000;
  /* Set the default text color */
  border-bottom: 2px solid transparent;
  /* Add a transparent border initially */
}

#firstNavbar .navbar-nav .nav-item:hover .nav-link {
  color: #007bff;
  /* Change the text color on hover */
}

#firstNavbar .navbar-nav .nav-item .nav-link:hover {
  border-bottom-color: #f8694c;
  /* Change the border color on hover */
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-item a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-item a:hover {
  color: #ffc107;
  /* Hover color */
}