.navbar-nav .nav-item .nav-link {
    color: #000000;
}


.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-item a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-item a:hover {
    color: #ffc107;
    /* Hover color */
}



#firstNavbar .navbar-nav .nav-item {
    background-color: #f5f5f5;
    /* Set the default background color */
}

#firstNavbar .navbar-nav .nav-item:hover {
    background-color: #ffffff;
    /* Change the background color on hover */
}

#firstNavbar .navbar-nav .nav-item .nav-link {
    color: #000000;
    /* Set the default text color */
    border-bottom: 2px solid transparent;
    /* Add a transparent border initially */

}

#firstNavbar .navbar-nav .nav-item:hover .nav-link {
    color: #ff8840;
    /* Change the text color on hover */
}

#firstNavbar .navbar-nav .nav-item .nav-link:hover {
    border-bottom-color: #ff8840;
    /* Change the border color on hover */
}

/*Search Bar */

.search-bar {
    margin-right: 25%;
}