html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #ff8840;
}

html {
  position: relative;
  min-height: 100%;
}



/* Kart Renkleri */
.card-custom {
  background-color: #f8f9fa;
  /* Gri renk */
  border: 1px solid #dee2e6;
  border-radius: 8px;
}

.card-custom .card-title {
  color: #007bff;
  /* Mavi renk */
}

.card-custom .card-text {
  color: #6c757d;
  /* Gri renk */
}

.card-custom .btn-primary {
  background-color: #ff8840;
  /* Mavi renk */
  border-color: #ff8840;
}

.card-custom .btn-primary:hover {
  background-color: #bf4800;
  /* Koyu mavi renk */
  border-color: #bf4800;
}


#firstNavbar .navbar-nav .nav-item {
  background-color: #f5f5f5;
  /* Set the default background color */
}

#firstNavbar .navbar-nav .nav-item:hover {
  background-color: #ffffff;
  /* Change the background color on hover */
}

#firstNavbar .navbar-nav .nav-item .nav-link {
  color: #000000;
  /* Set the default text color */
  border-bottom: 2px solid transparent;
  /* Add a transparent border initially */

}

#firstNavbar .navbar-nav .nav-item:hover .nav-link {
  color: #ff8840;
  /* Change the text color on hover */
}

#firstNavbar .navbar-nav .nav-item .nav-link:hover {
  border-bottom-color: #ff8840;
  /* Change the border color on hover */
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-item a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-item a:hover {
  color: #ffc107;
  /* Hover color */
}

.card .btn-primary {
  background-color: #ff8840;
  /* Mavi renk */
  border-color: #ff8840;
}

.card .btn-primary:hover {
  background-color: #bf4800;
  /* Koyu mavi renk */
  border-color: #bf4800;
}

/* Updated styles for the limited stock discount slider */
#limitedStockSlider {
  max-width: 1200px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
  border-radius: 10px;
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin-left: 30%;

}

.carousel-caption h5 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  /* Increased font weight */
}

.carousel-caption p {
  color: #555;
  font-size: 1.1rem;
  margin-bottom: 5px;

}


.carousel-caption .price {
  color: #e44d26;
  font-size: 1.3rem;
  font-weight: bold;
}

.carousel-caption .price del {
  color: #777;
  /* Adjust the color for the strike-through effect */
  margin-right: 5px;
  /* Add some space between the original and new prices */
}


#limitedStockSlider img {
  width: 100%;
  height: 300px;
  object-fit: contain;

}

.carousel-control-prev,
.carousel-control-next {
  max-width: 50px;
  /* Adjust the width as needed */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #333;
  /* Darker color for control icons */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #555;
  /* Darker color on hover for controls */
}


.discounted-products .card {
  height: 100%;
}

.card-body {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}