<!--Account Index cshtml-->

@model User

@{
    ViewData["Title"] = "Kullanıcı Hesabı";
}

<div class="container mt-5">
    <h2>Hesap Bilgileri</h2>
    <dl class="row">
        <dt class="col-sm-3">Adı:</dt>
        <dd class="col-sm-9">@Model.FirstName</dd>

        <dt class="col-sm-3">Soyadı:</dt>
        <dd class="col-sm-9">@Model.LastName</dd>

        <dt class="col-sm-3">E-posta:</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <!-- Diğer bilgileri ekleyebilirsiniz. -->
    </dl>

    <a href="#" class="btn btn-primary">Bilgileri Güncelle</a>
</div>
