<!-- Views/Account/Logout.cshtml -->

<h2>Logout</h2>
<form asp-action="LogoutConfirmed" method="post">
    <p>Are you sure you want to log out?</p>
    <button type="submit" class="btn btn-primary">Yes</button>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">No</a>
</form>
