<!--Home/Index.cshtml Ana Sayfa -->

@{
    ViewData["Title"] = "Ana Sayfa";
    var imgPath = "/img/logo.png"; // Image path wwwroot
}

    <div class="container mt-5">
        <div id="limitedStockSlider" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-6">
                    <img src="/img/product1.jpg" class="d-block w-100" alt="Product 1">
                </div>
                <div class="col-md-6">
                    <div class="carousel-caption">
                        <h5>Notebook Bilgisayar</h5>
                        <p>Açıklama: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="price">
                         <del>22,999 ₺</del> $19,999 ₺
                        </p>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-6">
                    <img src="/img/product2.jpg" class="d-block w-100" alt="Product 1">
                </div>
                <div class="col-md-6">
                    <div class="carousel-caption">
                        <h5>Msi AllinOne Bilgisayar</h5>
                        <p>Açıklama: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                         <p class="price">
                         <del>22,999 ₺</del> $19,999 ₺
                        </p>
                    </div>
                </div>
                
            </div>
            
        </div>
         <div class="carousel-item">
            <div class="row">
                <div class="col-md-6">
                    <img src="/img/product3.jpg" class="d-block w-100" alt="Product 1">
                </div>
                <div class="col-md-6">
                    <div class="carousel-caption">
                        <h5>Iphone 14 </h5>
                        <p>Açıklama: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                         <p class="price">
                         <del>22,999 ₺</del> $19,999 ₺
                        </p>
                    </div>
                </div>
                
            </div>
            
        </div>
         <div class="carousel-item">
            <div class="row">
                <div class="col-md-6">
                    <img src="/img/product4.jpg" class="d-block w-100" alt="Product 1">
                </div>
                <div class="col-md-6">
                    <div class="carousel-caption">
                        <h5>Samsun Ml-1610 Printer</h5>
                        <p>Açıklama: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                         <p class="price">
                         <del>22,999 ₺</del> $19,999 ₺
                        </p>
                    </div>
                </div>
                
            </div>
            
        </div>
        <!-- Repeat the above structure for other items -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#limitedStockSlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#limitedStockSlider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


            <!-- Sana Özel Fırsatlar Alanı -->
            <div class="container mt-5">
            <h2 class="text-center">Sana Özel Fırsatlar</h2>
            <div class="row mt-4">
                <div class="col-md-4">
                <div class="card card-custom">
                    <img src="/img/yeniyil.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Yeni Yıl Fırsatları</h5>
                    <p class="card-text">%20 İndirim Fırsatı. Satın aldığınız her oyuncak setiyle 1 tanesi kadar ek çekiniz. (İndirim süresince ve miktar limiti kazanım süresince geçerlidir.)</p>
                    <a href="#" class="btn btn-primary">İndirimlere Git</a>
                    </div>
                </div>
                </div>
                <div class="col-md-4">
                <div class="card card-custom">
                    <img src="/img/sanaözel1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Deri Mont'larda İndirim</h5>
                    <p class="card-text">%15 İndirim Fırsatı. 1.500 TL ve üzeri siparişlerinizde ücretsiz Kargo Hizmeti sunuyoruz. (İndirim süresince ve miktar limiti kazanım süresince geçerlidir.)</p>
                    <a href="#" class="btn btn-primary">İndirimlere Git</a>
                    </div>
                </div>
                </div>
                <div class="col-md-4">
                <div class="card card-custom">
                    <img src="/img/sanaözel2.jpg"class="card-img-top" alt="..." >
                    <div class="card-body">
                    <h5 class="card-title">Ebebek Giyim Ürünlerinde İndirim </h5>
                    <p class="card-text">%20 İndirim Fırsatı. Ebebek Marka ücretsiz kargo hizmeti sunuyoruz. (İndirim süresince ve miktar limiti kazanım süresince geçerlidir.)</p>
                    <a href="#" class="btn btn-primary">İndirimlere Git</a>
                    </div>
                </div>
                </div>
            </div>
            </div>


               
                
           

            
              <h1 class="text-center mt-4">Süper Fiyat & Süper Teklif Tümü</h1>

    <div class="row discounted-products mb-5 mt-5 mr-5">
        <div class="col-md-2">
            <a href="Product">
                <img src="~/img/süperteklif.jpg"  style="margin-top:40px;" alt="Super Fiyat Teklifleri" class="img-fluid">
            </a>
        </div>
        <div class="col-md-2">
            <div class="card">
                <a href="Product">
                    <img src="~/img/tv1.jpg" alt="..." class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title">LG  Televizyon</h5>
                    <p class="card-text price"><del>5.499,90 ₺</del></p>
                    <p class="card-text price">4.999,90 ₺</p>
                    <a href="Product" class="btn btn-primary">Sepete Ekle</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <a href="Product">
                    <img src="~/img/tv2.jpg" alt="LG 50UQ75006 50" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Philips UHD Televizyon</h5>
                    <p class="card-text price"><del>13.493,96 ₺</del></p>
                    <p class="card-text price">12.993,96 ₺</p>
                    <a href="Product" class="btn btn-primary">Sepete Ekle</a>
                </div>
            </div>
        </div>
         <div class="col-md-2">
            <div class="card">
                <a href="Product">
                    <img src="~/img/tv3.jpg" alt="Regal No-Frost Buzdolabı" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Regal No-Frost Buzdolabı</h5>
                    <p class="card-text price"><del>13.493 ₺</del></p>
                    <p class="card-text price">12.993 ₺</p>
                    <a href="Product" class="btn btn-primary">Sepete Ekle</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <a href="Product">
                    <img src="~/img/tv4.jpg" alt="Elidor Şampuan" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Elidor Şampuan</h5>
                    <p class="card-text price"><del>93,96 ₺</del></p>
                    <p class="card-text price">83,96 ₺</p>
                    <a href="Product" class="btn btn-primary">Sepete Ekle</a>
                </div>
            </div>
        </div>
    </div>


        
    </div>
    
