@if (ViewData["Title"] != null)
{
    <h2>@ViewData["Title"]</h2>
}


<h2>İşlemi Silme Başarılı</h2>
<p>Ürün başarıyla silindi.</p>
<a asp-action="Index" asp-controller="myProduct">Ürünlerime Geri Dön</a>
